body {
	font-family: monospace;
	font-size: 1.5em;
}

.person {
	cursor: pointer;
}

.sidebar {
	height: 100vw;
	display: flex;
	flex-direction: column;
	width: 20%;
	overflow-y: scroll;
}

.sidebar h4 {
	margin: 12px;
	margin-left: 0px
}

.main {
	display: flex;
	flex-direction: row;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}

.navbar-element {
	padding: 0px 16px 16px 0px;
}

.navbar-element:hover {
	cursor: pointer;
}